{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <li>
        <b>{{ title }}</b>
        <br>
        {{ post.authors }}
        <br>
        <i> {{ post.venue }}</i>, {{ post.year }}
        <br>
        {% if post.pdfurl %}
            <a href="{{ post.pdfurl }}" class="btn btn--primary btn--small">pdf</a>
        {% endif %}  
        <a href="{{ post.permalink }}" class="btn btn--primary btn--small">cite</a>
        <br>
    </li>
    <br>
</article>
</div>
